// Variables
$primary-color: #2abeb0;
$secondary-color: #ffffff;
$tertiary-color: rgb(49, 166, 141);
$text-color: #222222;
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Afacad', sans-serif;
$font-radio: 'Radio Canada Big', sans-serif;
$transition-time: 0.3s;
$padding: 20px;
$border-ver: 2px solid white;
